.startbox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  &__title {
    font-size: 1.6rem;
    font-weight: 700;
    max-width: 400px;
    text-align: center;
    color: #2C786C;
  }

  &__button {
    width: 340px;
    height: 60px;
    margin: 25px;
    border-radius: 5px;
    outline: none;
    border: 0;
    font-size: 2rem;
    color: #FBFBFB;
    background-color: #F8B400;
    transition: .2s;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.3);

    &:hover {
      cursor: pointer;
    }

    &:active {
      box-shadow: inset 0px 0px 2px 2px rgba(0,0,0,0.3);
    }
  }
}