.word-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto 10px;
    background: url(../../assets/img/join-to__bg.jpg) top right/ 25% no-repeat;
    transform: perspective(500px) rotateX(10deg);
    background-color: rgb(35, 202, 208);
    box-shadow: 0 0 5px rgb(36, 36, 36);
    border-radius: 2px;
    padding: 30px 0;
    cursor: default;

    h4 {
        font-style: italic;
        font-weight: 400;
        margin: 10px 0;
        width: 80%;
    }

    .wodr-wrapper {
        display: flex;
        justify-content: flex-start;
        width: 95%;

        .word-image-wrapper {
            width: 250px;
            height: 200px;

            border-radius: 3%;
            background-size: cover;
            background-position: 40% 10%;
            background-repeat: no-repeat;
        }

        .word-discription {
            display: flex;
            flex-direction: column;
            height: 220px;
            overflow: hidden;
            overflow-y: auto;
            margin: 0 0 0 20px;

            .word {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 1px;

                .word-audio-wrapper {
                    margin: 0 5px;

                    .word-audio-toggle {
                        display: flex;
                        background: url(../../assets/img/volume.png) center/70% no-repeat;
                        transition: 0.2s;
                        height: 25px;
                        width: 25px;
                        border-radius: 50%;
                        cursor: pointer;
                    }

                    .word-audio-toggle:hover {
                        background-color: rgba(94, 94, 94, 0.652);
                    }
                }
            }

            .transcription {
                font-style: italic;
            }

            .translation {
                text-transform: uppercase;
                font-weight: 600;
            }

            .word-sentence {
                font-style: italic;

                b {
                    font-style: normal;
                }
            }

            .word-sentence-translation {
                font-style: italic;
            }
        }

        .word-discription::-webkit-scrollbar {
            height: 15px;
        }

        .word-discription::-webkit-scrollbar-track {
            background-color: rgba(35, 177, 175, 0.4);
            border-radius: 10px;
            width: 5px;
        }

        .word-discription::-webkit-scrollbar-thumb {
            background-color: rgba(22, 214, 211, 0.4);
            border-radius: 10px;
            border: 1px solid rgba(35, 177, 175, 0.4);
        }
    }

    .registration-wrapper {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin-top: 10px;

        .word-btn-wrapper {
            display: flex;
            justify-content: flex-start;
            width: 100%;

            .button {
                padding: 3px 10px;
                margin: 10px 5px;
                border: none;
                outline: none;
                cursor: pointer;

                &:disabled {
                    cursor: unset;
                }
            }
        }

        .word-games-wrapper {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            cursor: default;
            width: 100%;

            .word-game {
                font-style: italic;
                margin: 0 10px;
            }
        }
    }
}

@media all and (max-width: 760px) {
    .word-card-wrapper {
        .wodr-wrapper {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .word-discription {
                text-align: center;
                margin: 0;
                height: 100%;
                max-height: 250px;

                .word {
                    justify-content: center;
                }
            }
        }
    }
}
