.home-wrapper {
    display: flex;
    flex-direction: column;
    .home-advantages {
        border: 1px solid red;
        min-height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home-about {
        border: 1px solid red;
        min-height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
